body {
  width: 100%;
  background-color:#120D1E;
  margin:0;
  padding: 0;
  text-align: center;
}


h1 {

  color: #111111;
  font-family: 'Permanent Marker', cursive;
  padding: 0;
  margin: 0;
}

h2{
  margin:0;
  font-family: 'Quicksand', sans-serif;
  color:  #111111;

  font-weight: 300;

}
#logo{
  width:15%;
  text-align: right;
}
#header1{
  text-align: right;
  margin:0 ;
  float: left;


}
header{
     background-color:  #D8D0C5;
     height: 100px;
     text-align: center;
  }
#header2{
  text-align: left;
  padding-top: 10px;
  margin:0 ;
  float: right;
}
li{
  list-style: none;
}


}
